Image_caption.json
[{"id":"2b6fe341.51e55c","type":"tab","label":"TJBot Camera","disabled":false,"info":""},{"id":"eae1cb4c.6f3648","type":"debug","z":"2b6fe341.51e55c","name":"Print msg.result.images","active":true,"tosidebar":true,"console":false,"complete":"result.images","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"9231a9b0.2cc9d8","type":"comment","z":"2b6fe341.51e55c","name":"Reload picture into Node-RED Dashboard","info":"<script>\n    window.location.reload(false); \n</script>","x":1180,"y":200,"wires":[]},{"id":"b8827180.ebdbe","type":"debug","z":"2b6fe341.51e55c","name":"What did Watson find?","active":true,"tosidebar":true,"console":false,"complete":"template","statusVal":"","statusType":"auto","x":1100,"y":340,"wires":[]},{"id":"f3d8c7b2.e23d08","type":"ui_template","z":"2b6fe341.51e55c","group":"babbde78.15cd8","name":"","order":5,"width":"9","height":"12","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":280,"wires":[[]]},{"id":"7ad0c663.99dab8","type":"visual-recognition-v3","z":"2b6fe341.51e55c","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/250d401e-1b48-4c1b-bc8c-a6e45ca27e65","image-feature":"classifyImage","lang":"en","x":410,"y":240,"wires":[["b57f9079.3a2ad","eae1cb4c.6f3648"]]},{"id":"b57f9079.3a2ad","type":"function","z":"2b6fe341.51e55c","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>h4 { text-align: center; margin: 10px; }\";\nmsg.template=msg.template+\"table {    width: 440px;    margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.template=msg.template+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.template=msg.template+\".title { background-color:LightGrey;}</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["f3d8c7b2.e23d08","b8827180.ebdbe","53bc3757.bcf508","9eb8289a.f91c78"]]},{"id":"668c3b52.df8924","type":"comment","z":"2b6fe341.51e55c","name":"Take Photos from a Raspberry Pi Camera","info":"If you add a Raspberry Pi Camera to your TJBot,\nhe can \"see\" and take Photos through his \n\"eye\" cutout.\n\nThis Node-RED flow requires the\nnode-red-contrib-camerapi npm package.\n\nDon't forget to enable the Camera in the \nRaspberry Pi Configuration utility.","x":200,"y":38,"wires":[]},{"id":"9eb8289a.f91c78","type":"watson-text-to-speech","z":"2b6fe341.51e55c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"","apikey":"WfuPTu06GdLBvR-V-hzBCk89cx5kr_0an_9McKneIR_C","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/614664fa-a093-465e-9da2-c45afc189af6","x":980,"y":640,"wires":[["59858a19.7f12c4"]]},{"id":"53bc3757.bcf508","type":"debug","z":"2b6fe341.51e55c","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"655db97.9cefb48","type":"ui_template","z":"2b6fe341.51e55c","group":"e3c3dce4.4b8e4","name":"","order":1,"width":"9","height":"8","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n     \n    background-color: #A42156!important;\n\t}\n\tdashboard-template h4 {\n    color: #111111 !important;\n    background-color: #A42156 !important;\n    }\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #A42156;\n\t\tborder-color: #A42156;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #EB9E30;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Food Nutrition Dashboard </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":180,"y":240,"wires":[["7ad0c663.99dab8"]]},{"id":"59858a19.7f12c4","type":"ui_audio","z":"2b6fe341.51e55c","name":"","group":"babbde78.15cd8","voice":"","always":"","x":1270,"y":760,"wires":[]},{"id":"babbde78.15cd8","type":"ui_group","z":"","name":"Results","tab":"af0f3ded.3f18b","order":2,"disp":true,"width":"9"},{"id":"e3c3dce4.4b8e4","type":"ui_group","z":"","name":"Watson Visual Recognition","tab":"af0f3ded.3f18b","order":1,"disp":true,"width":"12","collapse":false},{"id":"af0f3ded.3f18b","type":"ui_tab","z":"","name":"IBM","icon":"dashboard","order":3,"disabled":false,"hidden":false}]